VITE_API_URL=https://feathers-global-main-production.up.railway.app/api
VITE_APP_SOCKET_URL=https://feathers-global-main-production.up.railway.app
VITE_GOOGLE_OAUTH_CLIENT_ID=
VITE_PUBLIC_GEOAPIFY_KEY=
